.skip{
    position: absolute;
    top: -40px;
}

.skip:focus{
    top: 20px;
}

:focus{
    border: 2px solid;
    background-color: white;
    padding: 10px;
    color:#00274C;
    border: 2px solid white;
}

.active{
    background-color: #FFCB05;
    color: #00274C;
}

h1, h2, h3{
    font-family: 'Oswald';
    padding: 10px;
    color: #00274C;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p, ol, ul, figcaption{
    font-family: 'Montserrat';
    padding: 10px;
}

ol, ul{
    list-style-position: inside;
}

li{
    line-height: 1.5;
    padding: 2px;
}

figcaption{
    font-style: italic;
}

header{
    display: grid;
    grid-template-columns: fit-content(60px) 3fr; 
    align-items: center;
    background-color: #00274C;
    padding: 10px;
}

#logo{
    grid-column: 1 / 2;
    height: 60px;
    width: auto;
}

nav ul{
    grid-column: 2 / span 4;
    display: grid;
    grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%);
    padding: 10px;
}

nav ul li a{
    padding: 10px;
    color:#FFCB05;
}

nav ul li a:hover{
    color: #00274C;
    background-color: #FFCB05;
    opacity: 50%;
}

#health .articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    background-color: #FFCB05;
}

#health article {
    background-color: #00274C;
    margin: 20px; 
    color: white;
}

#health img {
    width: 100%; 
    height: auto; 
}

footer{
    padding: 10px;
    background-color: #00274C;
    color: #FFCB05;
}

footer a{
    color: #FFCB05;
}
